html{
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button{
  background: $clr-primary;
  border: 2px solid transparent;
  padding:.25rem .4rem;
  color: #fff;
}
button:hover{
 background-color: transparent;
 border: 2px solid $clr-primary;
 color: $clr-primary;
}
.cart-logo, .burger{
  border: none;
  background: none;
  color:black;
  &:hover{
    background-color: none;
    border:  none;
    color: black;
  }
}

body, .root{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


// contact
input,label,textarea{
  display: block;
  width: 100%;
}